

body{
    background: #F3F3F4;
}

@media screen and (min-width:320px) and (max-width:640px){

   
button{
    height: 9.6vh !important;
    width: 34% !important;
    font-size: 13px !important;
}
.mainul{
    visibility:hidden;
}
.main{
    height: 120vh;
}
.mainbg{
    width: 100%;
    height: 100%;
}
.dotted{
    display: none;
}
.logo img{
    left: 20px;
    top: 30px;
}
.cont{
    display: none;
}
.main h1{
    font-size: 40px;
    left:  10px;
    width: 100%;
}
@keyframes h1{
    0%{
        top: 23%;
        opacity:0;
    }
    33%{
        top: 30%;
        opacity: 1;
    }
    66%{
        top: 30%;
        opacity: 1;
    }
    100%{
        top: 30%;
        opacity: 1;
    }    
}
.main button{
    left: 13% !important;
    top: 60% !important;
}
.me {
    top: 81%;
    width: 40%;
    left: 10%;
}
.me img{
    left: 0;
}
.num{
    display: none;
}
.nex{
    width: 100vw;
    /* overflow-y: scroll; */
    scrollbar-width: 2px !important;
    --webkit-scrollbar-width:none !important;
}
.trust h1
{
    font-size: 50px;
}
.shape1, .shape2{
    display: none;
}
.blur{
    display: flex;
    flex-direction: column;
    height: 200vh;
    background: #25262B;
    justify-content: space-evenly;
    align-items: start;
}
.pro{
    width: 60%;
    left: 0;
}
.scale{
    background: #F3F3F4;
    float: none;
}
.scale .soap{
    display: none;
}
.scale h2
{
    right: -310px !important;
    z-index: 1;
    top: 110px;
}
.div{
    width: 55%;
    left: 55%;
    top: 3%;
}
.about
{
    background: #F3F3F4;   
    /* border: 1px solid red; */
    height:385vh;
}
.div2{
    top: 30%;
    height: 80vh;
    width: 92vw;
    left: 0;
}
.scale i{
    padding: 50px;
    padding-top: 25px;
    padding-bottom: 25px;
    padding-left: 35px;
    left: 73%;
    bottom: 35px;
}
.div3{
    top: 35%;
    width: 92vw;
    height: 60vh;
    left: 0;
    z-index: 1;
}
.scale2{
    top: 35%;
    left: 0;
}
.scale2 h1{
    text-align: start;
    width: 90vw;
    left: 20px;
}
.scale2 b{
    width: 90vw;
    left: 20px;
}
.scale2 p{
    width: 90vw;
    left: 20px;
}
.scale2 img{
    top: -215px;
    left: 50px;
}
.scale2 h4{
    width: 50vw;
    top: 480px;
}
.onlypics{
    /* border: 2px solid red; */
    height: 540vh;
}
.fsthead h3{
    text-align: start ;
    left: -75px;   
}
.fsthead h1{
    text-align: start;
    width: 90vw;
    left: -75px;
}
.no1{
    width: 90vw;
    left: 20px;
    height: 90vh;
}
.no2{
    height: 80vh;
    top: -570px !important;
}
.no{
    top: 50.8%;
}
.no4{
    top: 725px;
    /* height: 90vh; */
    left: -9px;
    height: 90vh;
}
.no5{
    top: 39.2%;
}
.no3{
    top: 37% !important;
    height: 100vh;
}
.onlypics .btn{
    top: 95%;
    left: -16%;
}
.hy h1{
    font-size: 40px;
    width: 90vw;
    left: 30px;
}
.hy p{
    width: 90vw;
    left: 18px;
    font-size: 18px;
    line-height: 1.6;
    color: rgba(255, 255, 255, 0.629);
}
.hy img{
    display: none;
}
.hy{
    height: 110vh;
}
.hy i{
    top: 350px;
    left: 40%;
}
.team{
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    height: 580vh;
}
.team .ceoo{
    height: 60vh !important;
    /* border: 1px solid red; */
    top: 60px;
}
.ceo{
    width: 90vw;
    left: 0;
    height: 90vh;
    /* border: 1px solid red; */
    margin-top: 50px;
    top: 20px;
    left: -15px;
}
.ceo .fb{
    padding: 18px;
    padding-left: 20px;
    padding-right: 25px;
    background-color: #fff;
}
.story{
    flex-direction: column;
    height: 180vh;
}
.skill{
    width: 95vw;
    left: 0;
    height: 250vh;
    /* height: 50%; */
    /* border: 1px solid red; */
}
.can h1{
    font-size: 45px;
    width: 90vw;
    left: 10px;
}
.can p{
    width: 90vw;
    left: 10px;
    top: 120px;
}
.yellow{
    left: -20px;
    top: 220px;
    width: 90vw;
    background: rgba(173, 216, 230, 0.346);
    margin-top: 80px;
}
.can ul{
    /* margin-top: 120px; */
    left: -20px;
    top: 70px;
}
.can li{
    margin-top: 70px;
}
.studio{
    flex-direction: column;
    justify-content: flex-start;
    height: 220vh;
    /* border: 1px solid green; */
}
.forimg{
    /* top: -100px; */
    height: 110vh;
    width: 90vw;
    left: 0;
    margin-top: 20px;
}
.forimg h2{
    text-align: center;
    bottom: 200px;
}
.forimg p{
    text-align: center;
    padding-top: 10px;
    bottom: 140px;
}
.forimg .btn{
    height: 8vh !important;
    width: 28vw !important;
    left: 32%;
    top: 150px;
}
.rola{
    height: 45%;
}
.forimg pre{
    left: 30%;
    bottom: 20px;
}
.news{
    /* border: 2px solid red; */
    height: 260vh;
}
.hapy{
    flex-direction: column;
    justify-content: space-evenly;
    height: 130vh;   
    /* border: 1px solid red; */
    width: 95vw;
}
.cup{
    margin-top: -30px;
    width: 45vw;
    top: 10px;
    left: 200px;
    /* border: 1px solid red; */
    height: 20vh;
}
.cup::before{
    height: 100%;
    top: 0;
}
.cup h2{
    top: 10px ;
}
.cup::after{
    top: 80px;
}
.say{
    height: 110vh;
}
.say h1{
    font-size: 53px;
}
.qoute{
    margin: 60px 30px;
}
.say article{
    width: 70vw;
    line-height: 2;
    font-size: 20px;
}
.test{
    top: 260px;
}
.say h4{
    top: 270px;
}
.say h5{
    top: 305px;
}
.book{
    width: 100%;
}
.book h1{
    font-size: 38px;
}
footer{
    height: 200vh;
    background: #212121;
}
.ready{
    height: 48vh;
    background: #212121;
}
.ready h3{
    left: 35%;
}
.ready h1{
    left: 50px;
}
.ready .btn{
    left: 33%;
    top: 160px;
}
.footerlogo{
    left: 20px;
}
.footer b{
    left: 20px;
    font-size: 12.5px;
}
.footer h6{
    top: 240px;
    left: 20px;
}
.shape4{
    display: none;
}
.cat li:nth-last-child(1){
    margin-left: 100px;
}
.cat{
    top: 120px;
    right: 81%;
}
.cat li{
    float: none;
    margin-top: 250px;
}
.com{
    left: 20px;
    top: 410px;
}
.com2{
    top: 700px;
}
.footer{
    /* border: 2px solid rgb(13, 255, 0); */
    background: #212121;
    height: 80%;
}
footer{
    height: 245vh;
    /* border: 1px solid red; */
}
.instadiv{
    left: -10px;
    top: 80%;
}
.footer a{
    left: -55%;
    top: 91%;
    /* border: 1px solid red; */
    margin-left: 20px;
    float: left;
}
.a{
    left: -10%!important;
    top: 89.35% !important;
}
}


